.about
    position: relative
    padding: 0px 0 250px 0
    margin-bottom: -200px
    &__video
        position: absolute
        object-fit: cover
        height: 70%
        width: 100%
    &__video-cover
        position: relative
        width: 100%
        bottom: -50px
    &__wrapper
        display: flex
        flex-direction: column
        gap: 30px
        width: 100%
        max-width: 435px
        margin: auto
        text-align: center
        padding: 100px 0 50px 0
        h2
            font-size: 36px
            font-weight: 700
            font-family: Cardo
            color: white
        p
            font-family: Cardo
            font-weight: 700
            font-size: 24px
            color: #FFD502
        a
            color: white
            background-image: linear-gradient(119.01deg, #FFD502 -16.68%, #FF02E6 116.35%, #FFD502 -16.68%)
            background-size: 100% 100%
            max-width: 253px
            width: 100%
            margin: auto
            display: flex
            margin-top: 50px
            justify-content: center
            border-radius: 12px
            padding: 17.5px 0
            font-size: 18px
            font-weight: 800
            font-family: Nunito Sans
            transition: .3s all 
            &:hover
                cursor: pointer
                background-size: 200% 200%
    &__tittle-wrapper
        position: relative
    &__cross-wrapper
        position: relative
        top: -25px
        left: -66px
@media (max-width: 550px)
    .about
        margin-bottom: -350px
        &__cross-wrapper
            left: 0
        &__video-cover
            bottom: -27.5px