
.contact-us
    margin-bottom: -250px
    position: relative
    &__video
        position: absolute
        object-fit: cover
        height: 60%
        width: 100%
    &__video-cover
        width: 100%
        position: relative
        bottom: 270px
    &__tittle-wrapper
        margin-top: -80px
        position: relative
    &__cross-wrapper
        position: relative
        left: -32px
    &__wrapper
        display: flex
        width: 80%
        max-width: 1400px
        margin: auto
        justify-content: center
        padding: 150px 0
        h2
            font-size: 36px
            font-weight: 700
            font-family: Cardo
            color: white
            width: 100%
            max-width: 661px
        a
            color: white
            background-image: linear-gradient(119.01deg, #FFD502 -16.68%, #FF02E6 116.35%, #FFD502 -16.68%)
            background-size: 100% 100%
            max-width: 253px
            width: 100%
            display: flex
            margin-top: 50px
            justify-content: center
            border-radius: 12px
            padding: 17.5px 0
            font-size: 18px
            font-weight: 800
            font-family: Nunito Sans
            transition: .3s all 
            margin-bottom: 200px
            &:hover
                cursor: pointer
                background-size: 200% 200%
        img
            width: 80%
            max-width: 591px
            height: 80%
            z-index: 1
            max-height: 360px
        svg
            position: relative
            left: -5%
@media (max-width: 994px)
    .contact-us
        background-size: cover
        &__tittle-wrapper
            margin-top: 0
        &__video
            height: 80%
        &__video-cover
            bottom: 150px
        &__wrapper
            flex-direction: column
            gap: 70px
            h2
                width: 90%
                max-width: 660px
                margin: auto
                font-size: 28px
                margin-bottom: 70px
            a
                margin: auto
                // margin: 70px 0
            img
                margin: auto
            svg
                left: 0%