.faq
    margin-bottom: 50px
    background-image: url("../../img/space-second.png")
    background-repeat: no-repeat
    background-size: cover
    padding: 250px 0 100px 0
    &__wrapper
        width: 80%
        max-width: 1217px
        margin: auto
    &__tittle
        font-size: 36px
        font-weight: 700
        font-family: Cardo
        color: #F2CA00
        margin-bottom: 70px
        svg
            position: relative
            top: -33px
    &__accordion-wrapper
        background: #081029
    &__accordion-content
        max-height: 0
        overflow: hidden
        transition: .3s all
        padding: 0 30px
        color: white
        font-size: 16px
        font-weight: 800
        font-family: Nunito Sans
        display: flex
        flex-direction: column
        gap: 8px
        a
            color: #F2CA00
        p
            font-weight: 400 !important
    &__accordion-item
        border-top: 1px solid #041C69
        position: relative
        &::after
            content: ''
            position: absolute
            width: 6px
            height: 6px
            background-color: #041C69
            border-radius: 50%
            right: 0
            top: -3.5px
        &::before
            content: ''
            position: absolute
            width: 6px
            height: 6px
            background-color: #041C69
            border-radius: 50%
            top: -3.5px
        &:nth-child(6)
            border-bottom: 1px solid #041C69
    &__accordion-button
        color: white
        font-size: 26px
        font-weight: 600
        font-family: Nunito Sans
    &__accordion-button
        padding: 30px
        display: flex
        flex-direction: row
        justify-content: space-between
    &__accordion-icon
        width: max-content
        height: max-content
        transition: all .3s
    &__article-wrapper
        display: flex
        gap: 100px
        width: 85%
        max-width: 1300px
        margin: auto
        margin-top: 80px
        align-items: center
        img
            width: 100%
            max-width: 545px
            height: 100%
            max-height: 345px
        p
            font-family: Nunito Sans
            font-size: 20px
            font-weight: 600 
            color: white
            margin-top: 42px
            line-height: 2
    &__marker
        background: #3E4D7C
        height: 6px
        width: 55px
        display: inline-flex
        margin-right: 20px
    &__marked-text
        display: flex
        align-items: center
    &__article-tittle
        color: #F2CA00
        font-size: 36px
        font-family: Cardo
        font-weight: 700
        margin-bottom: 60px
    &__apply-button
        font-size: 16px
        font-weight: 400
        font-family: Nunito Sans
        color: white
        width: 100%
        max-width: 211px
        padding: 6.9px 0
        border: 2px solid transparent
        border-image: linear-gradient(119.01deg, #FFD502 -16.68%, #FF02E6 116.35%)
        border-image-slice: 1
        border-image-repeat: stretch
        text-align: center
        transition: .3s all
        display: flex
        justify-content: center
        margin-top: 40px
        &:hover
            cursor: pointer
            transform: scale(1.1)
.active-icon
    transition: .3s all
    transform: rotate(-90deg)
    svg
        fill: #F2CA00
.active-accordion
    background: #041C69
    border-radius: 30px
    padding-bottom: 30px
    height: max-content
    &::before
        display: none
    &::after
        display: none
@media (max-width: 1100px) and (min-width: 500px)
    .faq
        &__article-wrapper
            flex-direction: column
        &__text
            width: 90%
            max-width: 629px
            margin: auto
@media (max-width: 499px)
    .faq
        &__wrapper
            width: 90%
            margin: auto
        &__article-wrapper
            flex-direction: column
        &__apply-button
            margin: auto
            margin-top: 50px